<!DOCTYPE html>
<html>
	<head>
		<title>MeanBB</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
	</head>

	<body ng-app="MeanBB">
		<nav class="navbar navbar-inverse" ng-controller="NavCtrl">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">MeanBB</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
					<li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Logout</a></li>
					<li ng-show="showLogin"><input class="form-control" type="text" placeholder="Username" ng-model="user.username"></li>
					<li ng-show="showLogin"><input class="form-control" type="password" placeholder="Password" ng-model="user.password"></li>
					<li ng-hide="isLoggedIn()"><a href="" ng-click="login()">Login</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/register">register</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<ui-view></ui-view>
		</div>

		<script type="text/ng-template" id="/home.html">
			<div ng-repeat="discussion in discussionsList">
				<div class="row">
					<div class="col-md-3">{{getDate(discussion.date) | date :"d/M/yy H:m"}}, {{discussion.author}} :</div>
					<div class="col-md-7"><a href="#/discussion/{{discussion._id}}">{{discussion.title}}</a></div>
				</div>
			</div>
      <br/>
			<form ng-submit="createDiscussion()" role="form">
        <div class="form-group">
  				<input type="text" ng-model="title" placeholder="Title" class="form-control"></input>
  				<textarea ng-model="text" placeholder="Text" class="form-control" rows="5"></textarea>
        </div>
  				<button type="submit" class="btn btn-primary">Create discussion</button>
			</form>
		</script>

    <script type="text/ng-template" id="/register.html">
			<div ng-show="error" class="alert alert-danger row">
				{{error.message}}
			</div>

      <h2>register</h2>
      <form ng-submit="register()" role="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
			<div ng-show="error" class="alert alert-danger row">
				{{error.message}}
			</div>

      <form ng-submit="login()" role="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </script>

		<script type="text/ng-template" id="/discussion.html">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row"><div class="col-md-3">{{discussion.date | date :"d/M/yy H:m"}}</div></div>
          <div class="row"><h1>{{discussion.title}}</div>
        </div>
  			<div ng-repeat="post in discussion.posts" class="panel-body">
          <div class="panel panel-default">{{post.text}}</div>
  			</div>
      </div>
			<form ng-submit="addPost()" role="form">
				<textarea ng-model="text" placeholder="Text" class="form-control" rows=5></textarea>
				<button type="submit" class="btn btn-primary">Add post</button>
			</form>
		</script>
	</body>
</html>
